#scriptrunner_list .result {
    background: #f3f3f3;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 0 20px 0;
    padding: 15px;
}

#scriptrunner_list .scripts li a {
    background: #090 url(/system/modules/scriptrunner/assets/icons/run.png) no-repeat 5px 5px;
    padding: 5px 5px 5px 25px;
    border-radius: 5px;
    color: #fff;
}
#scriptrunner_list .scripts li a:hover {
    background-color: #0c0;
}
